<h1>Como é hoje</h1>
<div class = "div-main">
  <h3>Accumulated Utilizations</h3>
  
  <div class="div-painel">
    <div><button (click) = "addAccumulatedUtilization()">Add data</button></div>
  </div>

  <div class="div-itens">
    <div
      *ngFor = "let accumlatedItem of accumulatedUtilizations; let i = index"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #aaa;
        padding: 15px 20px;
        border-radius: 5px;
        margin: 15px 0;
      ">
      <div>
        <select name="teste" id="" [(ngModel)] = "accumlatedItem.utilizationControl">
          <option *ngFor = "let item of utilizationControlItems" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div><input type="date" [(ngModel)] = "accumlatedItem.dateWhen"></div>
      <div><input type="number" placeholder="Until date" [(ngModel)] = "accumlatedItem.accumulatedUntilDate"></div>
      <div><input type="number" placeholder="Per month" [(ngModel)] = "accumlatedItem.averageUtilization"></div>
      <div><button (click) = "deleteAccumulatedUtilizations(i)">Deletar</button></div>
    </div>
  </div>

  <div class = "div-monitorar"><button (click) = "monitorar(1)">Monitorar</button></div>
</div>

<h1>Como seria o novo modelo</h1>
<div class="div-main">
  <h3>Accumulated Utilizations</h3>

  <div class="div-painel">
    <div><button (click) = "addGroupedAccumulatedUtilization()">Add data</button></div>
  </div>

  <div class="div-itens">
    <div class="div-item" *ngFor = "let item1 of accumulatedUtilizationsGrouped; let i = index">
      <h3 *ngIf = "item1[0].utilizationControl === 'Engine Cycles' || item1[0].utilizationControl === 'Engine Hours'">Engine</h3>
      <div>
        <div class="div-item-group" *ngFor = "let item2 of item1; let j = index">
          <div *ngIf = "j === 0; else pairedCounter" style = "width: 185px">
            <select name="" id="" [(ngModel)] = "item2.utilizationControl" (change) = "changeGroupedAccumulatedUtilizations(i)">
              <option *ngFor = "let controlItem of utilizationControlItems"  [value]="controlItem">{{ controlItem }}</option>
            </select>
          </div>

          <ng-template #pairedCounter>
            <div style = "width: 185px">{{ item2.utilizationControl }}</div>
          </ng-template>

          <div><input type="date" [(ngModel)] = "item2.dateWhen"></div>
          <div><input type="number" placeholder="Until date" [(ngModel)] = "item2.accumulatedUntilDate"></div>
          <div><input type="number" placeholder="Per month" [(ngModel)] = "item2.averageUtilization"></div>
          <div><button (click) = "deleteGroupedAccumulatedUtilizations(i)">Deletar</button></div>

        </div>
        <div
          *ngIf = "item1[0].utilizationControl === 'Engine Cycles' ||item1[0].utilizationControl === 'Engine Hours'"
          style="margin-top: 10px;"
        >
          <button
            style="padding: 5px;"
            *ngIf = "item1.length < 2"
            (click) = "addPairedAccumulatedUtilization(i, item1[0].utilizationControl === 'Engine Cycles' ? 'ec' : 'eh')"
          >Adicionar {{ item1[0].utilizationControl === 'Engine Cycles' ? 'Engine Hours' : 'Engine Cycles'}}</button>
        </div>
      </div>
    </div>
  </div>






    <!-- <div class="div-item">
      <div>
        <div class = "div-item-group">
          <div>
            <select name="" id="">
              <option *ngFor = "let item of utilizationControlItems"  value="item">{{ item }}</option>
            </select>
          </div>
          <div><input type="date"></div>
          <div><input type="number" placeholder="Until date"></div>
          <div><input type="number" placeholder="Per month"></div>
        </div>
        
        <div class = "div-item-group">
          <div>
            <select name="" id="">
              <option *ngFor = "let item of utilizationControlItems"  value="item">{{ item }}</option>
            </select>
          </div>
          <div><input type="date"></div>
          <div><input type="number" placeholder="Until date"></div>
          <div><input type="number" placeholder="Per month"></div>
        </div>
      </div>
    </div>

    <div class="div-item">
      <div>
        <div class = "div-item-group">
          <div>
            <select name="" id="">
              <option *ngFor = "let item of utilizationControlItems"  value="item">{{ item }}</option>
            </select>
          </div>
          <div><input type="date"></div>
          <div><input type="number" placeholder="Until date"></div>
          <div><input type="number" placeholder="Per month"></div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="div-monitorar"><button (click) = "monitorar(2)">Monitorar</button></div>

</div>