* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
}

.div-main {
    max-width: 1500px;
    margin: auto;
    border: 2px solid #aaa;
    padding: 20px;
    margin-bottom: 70px;
}

.div-painel {
    display: flex;
}

.div-painel {
    justify-content: flex-end;
    margin-bottom: 20px;
}

.div-painel button {
    padding: 5px;
}

.div-item {
    align-items: center;
    border: 1px solid #aaa;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 15px 0;
}

.div-item-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-item input {
    padding: 5px;
}

.div-monitorar {
    margin-top: 40px;
}

.div-monitorar button {
    padding: 5px;
}